node_modules
.npm-cache
.npm-cache-netlify
.netlify-build-check
.next
out
dist
build
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
tsconfig.tsbuildinfo
.DS_Store

# Local Netlify folder
.netlify
